body {
	color: #373737;
	background: #C3C3C3;
	font-size: 16px;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav li {
	float: right
}
nav a:link, a:visited {
	display: block;
	width: 150px;
	height: 100px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #008CFF;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	line-height:50px;
}
nav a:hover, a:active {
	background-color: #007CFF;
	height: 100px;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #008CFF;
	height: 100px;
	box-shadow: 0 2px 4px #0C4BE8;
}
nav .title{
	display:table-cell;
	font-size: 300%;
	line-height:100px;
	height: 100px;
	padding-left:10px;
	color:#F0F0F0;
	
}